body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right,#1b4769,#97bcd7, #cadbe7 ); /* Blue gradient background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #d7e7f3; /* White background for the form */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    color: #3d418c; /* Dark grey color for the heading */
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #013e53; /* Light grey color for labels */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd; /* Light grey border for inputs */
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.form-group input[type="submit"] {
    background-color: #007bff; /* Bootstrap primary blue */
    color: white;
    border: none;
    padding: 12px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff; /* Bootstrap primary blue */
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
